
.btn-logInOut {
  float: right;
  padding: 0 12px;
}
.search {
  width: auto;
  position: relative;
  float: left;
}
.search input{
  width: 250px;
  height: 42px;
  padding-left: 15px;
  border-radius: 42px;
  border: 2px solid #324b4e;
  background: #F9F0DA;
  outline: none;
  transition: .3s linear;
}
.search input:focus {
  width: 500px;
}
form button {
  width: 24px;
  height: 24px;
  background: url("https://image.flaticon.com/icons/png/128/61/61088.png");
  background-size: contain;
  border: none;
  position: absolute;
  top: 8px;
  right: 8px;
}
.my-title {
  margin-left: 15px ;
}
.home {
  width: 48px;
}



