.container {
  max-width: 800px;
  margin: 0 auto;
}
.container p {
  max-width: 800px;
}
.container p span{
  min-width: 100px;
  padding-right: 100px;
}
.label {
  width: 48%;
  float: left;
  text-align: right;
  margin-right: 2%;
}
.field {
  width: 50%;
  float: right;
  text-align: left;
}
