<div class = "container" *ngIf="employee">
  <div class="label-field row">
    <div class="label">ФИО:</div>
    <div class="field">{{employee.name}}</div>
  </div>
  <div class="label-field row">
    <div class="label">Должность:</div>
    <div class="field">{{employee.position}}</div>
  </div>
  <div class="label-field row">
    <div class="label">Телефон:</div>
    <div class="field">{{employee.telephone}}</div>
  </div>
  <div class="label-field row">
    <div class="label">Мобильный телефон:</div>
    <div class="field">{{employee.mobile}}</div>
  </div>
  <div class="label-field row">
    <div class="label">Кабинет:</div>
    <div class="field">{{employee.office}}</div>
  </div>
  <div class="label-field row">
    <div class="label">ДолжнНомер Дирекцииость:</div>
    <div class="field">{{employee.departmentId}}</div>
  </div>
</div>
