.file {
  margin: 15px 0px;
}
.button-import {
  padding-left: 30%;
  text-align: center;
}
.button-import button{
  min-width: 25%;
}
.line {
  width: 100%;
  margin-left: 0;
}
.line div{
  padding: 2px 0px;
}
.backgroud-color {
  background-color: #e4e4e4;
}
.name {
  width: 30%;
  float: left;
  margin: 0 1px 1px 10px;
  display: table;
}
.position {
  width: 30%;
  float: left;
  text-align: center;
  margin: 0 1px 1px 0;
  display: table;
}
.telephone {
  width: 22%;
  float: left;
  text-align: center;
  margin: 0 1px 1px 0;
  display: table;
}
