<p>Административно-управленческий аппарат</p>
<div class="" *ngFor="let user of users">
  <div class="line" *ngIf="user">
    <div class="displayName">
      {{user?.displayName}}
    </div>
    <div class="description">
      {{user?.description}}
    </div>
    <div class="telephone">
      {{user?.telephone}}
    </div>
    <div class="mobileNumber">
      {{user?.mobileNumber}}
    </div>
    <div class="email">
      <a href="mailto:{{user?.email}}">{{user?.email}}</a>
    </div>
    <div class="office">
      {{user?.office}}
    </div>
  </div>
  <div class="" *ngIf="!user">
    <p class="">Not found user!</p>
  </div>
  <div class="row"><p> </p></div>
</div>
