<p>
  <a class="p-2 text-dark" href routerLink="administrative-staff" title = "Административно-управленческий аппарат">Административно-управленческий аппарат</a>
</p>
<p>
  Отдел администрирования и сопровождения проектов
  <!-- <a class="p-2 text-dark" routerLink="" title = "Отдел администрирования и сопровождения проектов">Отдел администрирования и сопровождения проектов</a> -->
</p>
<p>
  <a class="p-2 text-dark" routerLink="hr-department" title = "">Управление кадровой и организационной работы</a>
</p>
<p>
  Группа по  профессиональному обучению  кадров
  <!-- <a class="p-2 text-dark" routerLink="" title = "">Группа по  профессиональному обучению  кадров</a> -->
</p>
<!-- <p>
  <a class="p-2 text-dark" routerLink="" title = "">Отдел контроля исполнительской дисциплины и делопроизводства</a>
</p>
<p>
  <a class="p-2 text-dark" routerLink="" title = "">Отдел планирования, ценообразования и статистической отчетности</a>
</p>
<p>
  <a class="p-2 text-dark" routerLink="" title = "">Юридическое управление</a>
</p>
<p>
  <a class="p-2 text-dark" routerLink="" title = "">Управление текущего финансирования и исполнения бюджета</a>
</p>
<p>
  <a class="p-2 text-dark" routerLink="" title = "">Управление бухгалтерского учета и отчетности</a>
</p> -->
