<div class="department-line" *ngFor="let department of departments">
  <div class="department-line row" *ngIf="department">
      <a
      class="department-header"
       [routerLink]="['/department', department.id]"
      routerLinkActive="router-link-active"
      >{{department?.name}}
    </a>
  </div>
</div>

<div class="book-info">
  <p class="info-ueho">
    Настоящий справочник подготовлен отделом сервисного обслуживания управления по эксплуатационно-хозяйственному обеспечению и предназначен для внутреннего пользования.
  </p>
  <p class="info-soglasie">
	  Номера служебных и мобильных телефонов руководителей и работников компании не подлежат распространению посторонним лицам. Разрешается предоставлять номера телефонов сотрудников только с их согласия.
  </p>
  <div class="telephones">
    <div class="spravka">
      <p>Список телефонов для справок:</p>
      <p>Пресс-служба – <span>64-11, 63-52</span></p>
      <p>Главная дирекция продаж и маркетинга – <span>63-63</span></p>
      <p>Управление кадровой и организационной работы – <span>61-33</span></p>
      <p>Бюро пропусков (Макаенка,9) – <span>62-83</span></p>
      <p>Бюро пропусков (Красная,4) – <span>293-58-95</span></p>
      <p>Факс Белтелерадиокомпании: - <span>267-81-82</span></p>
      <p>E-mail Белтелерадиокомпании: <a href="mailto:tvr@tvr.by">tvr@tvr.by</a></p>
      <p>Web-сайт:<a href="www.tvr.by">www.tvr.by</a></p>
    </div>
    <div class="tel-sos">
      <p>ЭКСТРЕННЫЕ И АВАРИЙНЫЕ ВЫЗОВЫ, СПЕЦИАЛЬНЫЕ СЛУЖБЫ.</p>
      <p>При пожаре <span>0-101, 62-92</span></p>
      <p>Милиция <span>0-102</span></p>
      <p>Скорая помощь <span>0-103</span></p>
      <p>Ремонт телефонов,  Красная 4	<span>284-84-54</span></p>
      <p>Ремонт телефонов,  Макаёнка 9	<span>60-30, 60-20</span></p>
      <p>Ремонт телевизоров, видеомагнитофонов	<span>60-32</span></p>
      <p>Дежурный по лифтам,  Красная 4	<span>284-85-74</span></p>
      <p>Дежурный по лифтам,  Макаёнка 9	<span>60-24</span></p>
      <p>Дежурный электрик, Красная 4	<span>284-76-17</span></p>
      <p>Дежурный электрик,  Макаёнка 9	<span>267-78-66</span></p>
      <p>Дежурный сантехник,  Красная 4	<span>284-74-87</span></p>
      <p>Дежурный сантехник,  Макаёнка 9	<span>63-61</span></p>
      <p>Бюро пропусков,  Красная 4	<span>58-95</span></p>
      <p>Бюро пропусков,  Макаёнка 9 <span>62-83</span></p>
      <p>Пост милиции № 1, Красная 4	<span>288-18-66</span></p>
      <p>Пост милиции № 5, Макаёнка 9	<span>63-48</span></p>
      <p>Диспетчер автотранспортного цеха,  Макаёнка 9	<span>267-88-09</span></p>
    </div>
  </div>
 </div>


