<p class="department">Управление кадровой и организационной работы</p>
<div class="line row">
  <div class="displayName">
    ФИО
  </div>
  <div class="description">
    Должность
  </div>
  <div class="telephone">
    Рабочий телефон
  </div>
  <div class="mobileNumber">
    Мобильный телефон
  </div>
  <div class="email">
    Электронная почта
  </div>
  <div class="office ">
    Кабинет
  </div>
<div class="line" *ngFor="let user of users">
  <div class="line row" *ngIf="user">
    <div class="displayName">
      {{user?.displayName}}
    </div>
    <div class="description">
      {{user?.description}}
    </div>
    <div class="telephone">
      {{user?.telephone}}
    </div>
    <div class="mobileNumber">
      {{user?.mobileNumber}}
    </div>
    <div class="email">
      <a href="mailto:{{user?.email}}">{{user?.email}}</a>
    </div>
    <div class="office">
      {{user?.office}}
    </div>
  </div>
</div>
