<div class="department-line row" *ngIf="department">
  <p class="department-name">{{department?.name}}</p>
</div>

<div class="department-line" *ngFor="let depart of departments">
  <div class="department-line row" *ngIf="depart">
      <a
      class="department-header"
       [routerLink]="['/department', depart.id]"
      routerLinkActive="router-link-active"
      >{{depart?.name}}
    </a>
  </div>
</div>

<div class="line row" *ngIf="employees.length > 0">
  <div class="name">
    ФИО
  </div>
  <div class="position">
    Должность
  </div>
  <div class="telephone">
    Рабочий телефон
  </div>
  <div class="mobile">
    Мобильный телефон
  </div>
  <div class="office ">
    Кабинет
  </div>
</div>
<div class="line" *ngFor="let employee of employees; let index = index">
  <div class="line row" *ngIf="employee" [ngClass]="{'backgroud-color': 0 === index % 2}">
    <div class="name">
      {{employee?.name}}
    </div>
    <div class="position">
      {{employee?.position}}
    </div>
    <div class="telephone">
      {{employee?.telephone}}
    </div>
    <div class="mobile">
      {{employee?.mobile}}
    </div>
    <div class="office">
      {{employee?.office}}
    </div>
    <div class="button" *ngIf="logged">
      <button class="btn btn-primary" (click)="editButtonClick(employee.id)">
        Редактировать
      </button>
    </div>
  </div>
</div>
