<div class="line" *ngFor="let department of departments">
  <div class="line row" *ngIf="department">
    <div class="department">
      <a
      class=""
       [routerLink]="['/home/department', department.id]"
      routerLinkActive="router-link-active"
      >{{department?.name}}
    </a>
    </div>
  </div>
</div>

<div class="line row" ng-show="showBlock">
  <div class="name">
    ФИО
  </div>
  <div class="position">
    Должность
  </div>
  <div class="telephone">
    Рабочий телефон
  </div>
  <div class="mobile">
    Мобильный телефон
  </div>
  <div class="email">
    Электронная почта
  </div>
  <div class="office ">
    Кабинет
  </div>
<div class="line" *ngFor="let employee of employees">
  <div class="line row" *ngIf="employee">
    <div class="name">
      {{employee?.name}}
    </div>
    <div class="description">
      {{employee?.position}}
    </div>
    <div class="telephone">
      {{employee?.telephone}}
    </div>
    <div class="mobile">
      {{employee?.mobile}}
    </div>
    <div class="email">
      <a href="mailto:{{employee?.email}}">{{employee?.email}}</a>
    </div>
    <div class="office">
      {{employee?.office}}
    </div>
  </div>
</div>
