
.department-name {
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
  width: 100%;
  color: #7701AF;
}
.department-header {
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
  width: 100%;
}
.department-line {
  width: 100%;
  margin-left: 0;
  height: 35px;
}
.backgroud-color {
  background-color: #e4e4e4;
}
.line {
  width: 100%;
  margin-left: 0;
}
.line div{
  padding: 2px 0px;
}
.name {
  width: 24%;
  float: left;
  margin: 0 1px 1px 10px;
  display: table;
}
.position {
  width: 21%;
  float: left;
  text-align: center;
  margin: 0 1px 1px 0;
  display: table;
}
.telephone {
  width: 15%;
  float: left;
  text-align: center;
  margin: 0 1px 1px 0;
  display: table;
}
.mobile {
  width: 17%;
  float: left;
  text-align: center;
  margin: 0 1px 1px 0;
  display: table;
}
.office {
  width: 9%;
  float: left;
  text-align: center;
  margin: 0 1px 1px 0;
  display: table;
}
.button {
  width: 10%;
  min-width: 135px;
  float: right;
  text-align: center;
}
