<div class="container">
  <div class="row">
      <div class="col-md-12">
          <div class="error-template">
              <h1>
                  Oops!</h1>
              <h2>
                  404 Не найдено</h2>
              <div class="error-details">
                К сожалению, произошла ошибка. Запрашиваемая страница не найдена.
              </div>
              <div class="error-actions">
                  <a class="btn btn-primary btn-lg" routerLink="/home"><span class="glyphicon glyphicon-home"></span>
                      Вернуться на главную страницу </a>
              </div>
          </div>
      </div>
  </div>
</div>
